<!DOCTYPE html>
<html>
    <div class="bg-ex-blur">
      <div class="img-blur"></div>
    </div>
    <head>
        <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
        <title>Отель</title>
    </head>
    <body>
        <nav class="top-menu">
            <ul class="menu-main">
                <li><a href="/" >Новая бронь</a></li>
                <li><a href="/change">О брони</a></li>
                <li><a href="/search">Проверка номеров</a></li>
                <li><a href="/cancel" class="current">Отмена брони</a></li>
                <li><a href="/check">Отчеты</a></li>
            </ul>
        </nav>
        <div class="divcancel">
            <h1 class="h1search">Отмена бронирования</h1>
            <form action="/cancel" method="post" class="formcancel" id="formcancel">
                <p><label>Номер брони:</label>
                <input type="number" name="numcancel" id="numcancel" value="" > </p>
                <p><input type="submit" value = "Отмена"></p>
            </form>
        </div>
    </body>
</html>